<script type="text/x-template" id="message">
  <div class="message-box">
    <h3>
      <!-- 3. 具名插槽 -->
      <slot class="title"></slot>
      <span class="message-box-close" @click="$emit('close')">X</span>
    </h3>
    <!-- 匿名插槽 -->
    <slot></slot>
  </div>
</script>
<script>
  const Message = {
    template: '#message',
    emits: ['close']
  }
</script>
<style>
  .message-box {
    padding: 10px 20px;
    background: #4fc08d;
    border: 1px solid #42b983;
    color: #fff;
  }
  .message-box-close {
    float: right;
    cursor: pointer;
  }
</style>

<!-- new-fruit-add 子组件 -->
<script type="text/x-template" id="new-fruit-add">
  <input 
    type="text" 
    @input="$emit('update:newFruit', $event.target.value)" 
    :value="newFruit"
    @keydown.enter="addNewFruit"
  />
  <button @click="addNewFruit">新增水果</button>
</script>
<script>
  const NewFruitAdd = {
    template: '#new-fruit-add',
    props: {
      newFruit: {
        type: String,
        required: true,
      },
      emits: ['update:new-fruit']
    },
    emits: ['add'],
    methods: {
      addNewFruit() {
        this.$emit('add', this.newFruit),
        this.course = ''
      }
    }
  }
</script>


<script type="text/x-template" id="fruits-list">
  <ul>
    <li 
      v-for="f in fruits" 
      :key="f" 
      :class="{active: selectedFruit === f}" 
      @click="selectedFruit = f"
    >
      {{f}}
    </li>
  </ul>
</script>
<script>
  const FruitsList = {
    template: '#fruits-list',
    data(){
      return {
        selectedFruit: ''
      }
    },
    props: {
      fruits: {
        type: Array,
        required: true,
      }
    }
  }
</script>

<div id="app">
  <!-- 2. 消息提示框 -->
  <message v-if="showMsg" @close="showMsg = false">
    <!-- 4. 具名插槽在使用的地方需用 template ,且用 v-slot参数指定名字: -->
    <template v-slot:title>恭喜</template>
    <template v-slot:default>新增成功</template>
  </message>
  <new-fruit-add @add="addNew" v-model:new-fruit="newFruit"></new-fruit-add>
  <fruits-list :fruits="fruits"></fruits-list>
</div>

<script src="https://unpkg.com/vue@3"></script>
<script>
  const app = Vue.createApp({
    components: {
      'new-fruit-add': NewFruitAdd
    },
    data() {
      return {
        newFruit: '',
        fruits: ['apple', 'pear'],
        selectedFruit: '',
        showMsg: false,
      }
    },
    methods: {
      addNew() {
        if (this.newFruit !== '') {
          this.fruits.push(this.newFruit)
          this.newFruit = ''
          this.showMsg = true
        }
      }
    }
  })
  .component('fruits-list', FruitsList)
  // 1. 注册 message component
  .component('message', Message)
  .mount('#app')
</script>

<style>
  li {
    cursor: pointer;
  }
  .active {
    background-color: #ccc;
  }
</style>
